<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/admin/profile">Profile</a></li>
    <li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
	<li class="breadcrumb-item"><a href="/admin/{{type}}">{{type}}</a></li>
	<li class="breadcrumb-item"><a href="/admin/yearsreport/{{type}}">Years Reports</a></li>
    <li class="breadcrumb-item active" aria-current="page">Yearly Report</li>
  </ol>
</nav>
<div class="row">
    <div class="col-12">
        <h1>Yearly Report</h1>
        <hr>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{typeReading}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Yearly Report</h6>
                <ul class="list-group">
                <li class="list-group-item h3 text-center text-primary">Max Values in Months of Year: {{year}}</li>
				{{#each maxValuesInmonths}}
					<li class="list-group-item text-success">Value: {{this.maxValue}} &#8451; <span style="float: right;" class="text-info">Month : {{this.month}}</span> </li>
				{{/each}}
				<li class="list-group-item h3 text-center text-primary">Max Values in Year: {{year}}</li>
                <li class="list-group-item"> <span class="text-success">Max Value in Year:</span> <span class="text-danger">{{year}}</span> is <span class="text-info">{{maxValue.value}}</span> <span style="float:right;" class="text-info"> <span class="text-success">Date: {{maxValue.day}} / {{maxValue.month}} / {{maxValue.year}}</span> & <span class="text-primary">Time: {{maxValue.hour}} : {{maxValue.mins}} : {{maxValue.second}}</span> </span> </li>
                <li class="list-group-item">Sensor location: {{location.location}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div id="dialyReport" style="height: 300px; width: 100%;"></div>
    </div>
		<div class="col-12">
		<p class="text-success">notes for understanding shape, Horzental for value and Vertical for Time By Month</p>
	</div>
</div>

<script>
window.onload = function () {
var chart = new CanvasJS.Chart("dialyReport", {
	animationEnabled: true,
	theme: "light1", // "light1", "light2", "dark1", "dark2"
	title:{
		text: "Average Values of each month in year"
	},
	data: [{
		type: "column", //change type to bar, line, area, pie, etc
		indexLabel: "{y}", //Shows y value on all Data Points
		indexLabelFontColor: "#5A5757",
		indexLabelPlacement: "outside",
		dataPoints: [
		{{#each avg}}
			{ x: parseFloat({{this.month}}), y: parseFloat({{this.avgValue}}) },
		{{/each}}
		]
	}]
});
chart.render();

}
</script>